@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
    margin: 0;
    color: white;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: #09090A;

    display: grid;
    height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;  
    height: 10vh;
    margin: 5px 10px;
}

.logo-habits {
    margin: 10px 0px 0px 20px;
}

button.register {
    border: 1px solid #8B5CF6;
    border-radius: 8px;

    font-variant: small-caps;
    font-size: 16px;

    background-color: #09090A;
    
    padding: 8px 22px;
    margin-right: 20px
}

.plus {
    color: #8B5CF6;
    font-size: 18px;
    margin-right: 12px;
}

form {
    display: flex;

}

input { 
    appearance: none;
    -webkit-appearance: none;

    width: 64px;
    height: 64px;
    
    border: 2px solid #27272A;
    border-radius: 8px;
}

input:checked {
    background: #8B5CF6;
    border: 2px solid #A78BFA;
}

.days {
    display: flex;
    gap: 40px;
}

.day {
    display: flex;
    flex-direction: column;
    gap: 20px;

    text-align: center;
}

.day div {
    margin-bottom: 10px;
}

